[Unit]
Description=Generic MQTT Client
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/opt/Paulos16-software/MqttClient
ExecStart=/opt/Paulos16-software/MqttClient/MqttClient
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=mqttclient
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
