<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogFile="/tmp/internal-nlog_mqttclient.log"
	>

	<!-- logging directory - .\logs -->
	<variable name="logDir" value="${basedir}/logs/" />
	<variable name="appName" value="mqttclient" />

	<!-- targeting documentation - https://github.com/NLog/NLog/wiki/Targets -->
	<targets>
		<target
			xsi:type="Console"
			name="console"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
			/>

		<!--
			max 10 archives
			1MB each
			current log: appName.log
			archives: appName.yyyy-MM-dd.01.zip
			-->
		<target
			xsi:type="File"
			name="file-rolling"
			fileName="${logDir}${appName}.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
			maxArchiveFiles="10"
			archiveAboveSize="1000000"
			archiveFileName="${logDir}${appName}.${shortdate}.{##}.zip"
			archiveNumbering="Rolling"
			archiveDateFormat="yyyy-MM-dd"
			enableArchiveFileCompression="true"
			/>

		<!--
			min 1 archive per day
			oldest is 2 weeks old
			each restart archives last log
			current log: appName.log
			archives: appName.yyyy-MM-dd.01.zip
			-->
		<target
			xsi:type="File"
			name="file-daily"
			fileName="${logDir}${appName}.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
			archiveFileName="${logDir}${appName}.{#}.zip"
			archiveNumbering="DateAndSequence"
			archiveDateFormat="yyyy-MM-dd"
			archiveEvery="Day"
			maxArchiveDays="14"
			archiveOldFileOnStartup="true"
			enableArchiveFileCompression="true"
			/>

		<!-- database targeting - https://github.com/NLog/NLog/wiki/Database-target -->
	</targets>

	<rules>
		<logger
			name="*"
			minlevel="Trace"
			writeTo="console"
			/>

		<logger
			name="*"
			minlevel="Trace"
			writeTo="file-rolling"
			/>

		<logger
			name="*"
			minlevel="Trace"
			writeTo="file-daily"
			enabled="false"
			/>

		<logger
			name="Microsoft.*"
			maxlevel="Info"
			final="true"
			/>
	</rules>

</nlog>
